<% layout("layouts/boilerplate") %>
<div class="flex home-background">
  <div class="flex home-container">
    <h1 class="home-title">Ski Resorts</h1>
    <p>Up to date info of every North American ski resort</p>
    <a href="/resorts"
      ><button class="home-button"><span></span>Enter<span></span></button
    ></a>
  </div>
</div>
