<% layout("layouts/boilerplate") %>
<div class="flex flex-container text-center top text-dark">
  <h1>Ski Resorts</h1>
  <h2>
    Receive up to date information about weather, lift status, and location of
    all your favorite North American ski resorts!
  </h2>
</div>
<!-- Sort Selector -->
<div class="flex sort-container">
  <label for="sortCriteria">Sort By:</label>
  <select id="sortCriteria" onchange="sortResorts(this.value)">
    <option value="alphabetical">Alphabetical</option>
    <option value="state">State</option>
  </select>
</div>
<!-- Resort Container -->
<div class="flex resort-container">
  <% for (let resort of skiResorts) { if (resort.country === "US" ||
  resort.country === "CA") { %>
  <a class="text-decoration-none" href="/resorts/<%= resort.slug %>"
    ><div class="resort-card">
      <h3 class="resort-card--title"><%= resort.name %></h3>
      <p class="resort-card--body">
        <%= resort.region %>, <%= resort.country %>
      </p>
    </div></a
  >
  <% } }%>
</div>

<script src="../javascripts/sortResorts.js"></script>
