<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Show Ski</title>
  </head>

  <body>
    <h1><%= resort.name %> <%= resort.region %></h1>

    <h2>Lift Status:</h2>
    <ul>
      <% for (const liftName in resort.lifts.status) { %>
      <li>
        <strong><%= liftName %>:</strong> <%= resort.lifts.status[liftName] %>
      </li>
      <% } %>
    </ul>
    <script src="https://cdn.jsdelivr.net/npm/axios@1.6.7/dist/axios.min.js"></script>
  </body>
</html>
