<% layout("layouts/boilerplate") %>
<main class="flex show-container">
  <h1><%= resort.name %> <%= resort.region %></h1>

  <div class="flex resort-content-container">
    <div class="card-container inline-block flow">
      <h2>Lift Status</h2>
      <% for (const liftName in resort.lifts.status) { %>
      <div class="lift-card flex">
        <h3 class="inline-block"><%= liftName %></h3>
        <span class="text-closed"><%= resort.lifts.status[liftName] %></span>
      </div>
      <% } %>
    </div>
    <div class="weather-container">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur,
        illum, consectetur aliquam assumenda quasi ut minus voluptatum earum
        beatae, ullam veritatis consequuntur. Est dolorem tempore odio assumenda
        molestiae eius dolore?
      </p>
    </div>
  </div>
</main>

<script src="../javascripts/liftStatus.js"></script>
